@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Di bawah ini adalah style kustom yang bisa Anda tambahkan.
  Misalnya, untuk mengatur font atau warna latar belakang dasar.
*/

body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
  color: #374151;
}

/* Contoh styling untuk input */
input[type="text"] {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
  border-color: #4f46e5;
}
