@import "tailwindcss";

/* body styling */
body {
  font-family: Arial, sans-serif;
  color: #374151;
}

/* input styling */
input[type="text"] {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
  border-color: #4f46e5;
}
